@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

.footer{
    width:100%;
    height:700px;
    position: relative;
    margin-top:200px;
    display:flex;
    align-items:flex-end;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    top:120px;
}
.footer-container{
    position: relative;
    margin:0 auto;
    width:100%;
    height:600px;
    display:grid;
    grid-template-columns:3fr 2.5fr 1.5fr;
    grid-template-rows:250px 0px 350px;
    grid-template-areas:
    "box1 box1 box5"
    "box1 box1 box3"
    "box2 box4 box3";
    z-index: 2;
}

.box1{
    grid-area:box1;
    display:flex;
    justify-content:space-between;
    padding:1em 5em;
    height:400px;
}
.footer-box1-img{
    position: relative;
    width:190%;
    height:100%;
}
.footer-box1-img img{
    width:100%
}
.box2{
    grid-area:box2;
    padding:1em;
    border:none;
    position: relative;
    top:150px;
}
.box2-footer-text{
    display:grid;
    grid-template-rows:repeat(10,20px);
    padding-left:4em;
    width:200px;
}
.box3{
    grid-area:box3;
    display:flex;
    flex-direction: column;
    align-items:center; 
    justify-content: space-between;
    padding:10px 15px 0px 15px;
    text-align:center;
    height:500px;
}
.footer-social{
    display:flex;
    width:120px;
    justify-content: space-between;
    position: relative;
    margin:0 auto;
}
.footer-social div{
    width:35px;
    height:35px;
    border-radius: 50%;
    border:1px solid;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:background 0.5s
}
.footer-social div:hover{
    border:none;
    background-color:yellow;
    cursor: pointer;
}
.box4{
    grid-area:box4;
    padding:1em;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    width:250px;
    border-left:none;
    border-right:none;
    position: relative;
    top:150px;
}
.box5{
    grid-area:box5;
}
.footer-x-img{
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer-x-img img{
    width:180px;
    position: relative;
    top:0px;
}
.goodride-footer-logo .good-ride{
    font-size:24pt;
    font-weight:600;
}
.goodride-footer-logo .footer-shop{
    font-size:10pt;
    position: relative;
    bottom:10px;
    letter-spacing:5px;
}
.footer-menu{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.footer-menu a{
    font-size:8pt;
}
.goodride-copyrights{
    background-color:#292F33;
    width:110%;
    color:white;
}
.box1-text .sendgift{
    font-size:35pt
}
.box1-text .tofriend{
    font-size:50pt;
    font-weight:700
}
.givevoucher a{
    position: relative;
    margin-top:30px;
    font-weight: bold;
}
.newsletter-10usd{
    display:flex;
    width:100%;
}
.tenusd{
    width:30px;
    height:30px;
    background-color:#292F33;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:7pt;
}
.tenusd-text{
    margin-left:10px;
    font-size:8pt;
    display:flex;
    align-items: center;
    text-align: start;
}
.newsletter-form input[type=text]{
    border:none;
    background-color: transparent;
    border-bottom:1px solid;
    margin-top:10px;
    margin-bottom:10px;
}
.newsletter-form input[type=text]:focus{
    outline:none
}
.newsletter-body{
    font-size:8pt;
    margin-top:10px;
}
.footer-background{
    position:absolute;
    width:100%;
    height:110%;
    display:flex;
    flex-direction: column;
}
.footer-buildings-background{
    height:205px;
    width:100%;
    position:relative;
    margin-top:200px;
}
.footer-stunned-background{
    height:351px;
    width:100%;
    background-color:#CED6DC;
    position: relative;
    margin:0 auto;
    left:0px;
}
.footer-buildings-background img{
    width:100%;
    height:100%;
    position: absolute;
    bottom:-1px;
    z-index:1;
}
